# 영업 성공 여부 분류 경진대회

## 1. 데이터 확인

### 필수 라이브러리

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    f1_score,
    precision_score,
    recall_score,
)
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

/tmp/ipykernel_343161/3824362204.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### 데이터 셋 읽어오기

In [2]:
df_train = pd.read_csv("./Data/train.csv") # 학습용 데이터
df_test = pd.read_csv("./Data/submission.csv") # 테스트 데이터(제출파일의 데이터)

In [3]:
df_train.head() # 학습용 데이터 살펴보기

,bant_submit,customer_country,business_unit,com_reg_ver_win_rate,customer_idx,customer_type,enterprise,historical_existing_cnt,id_strategic_ver,it_strategic_ver,...,response_corporate,expected_timeline,ver_cus,ver_pro,ver_win_rate_x,ver_win_ratio_per_bu,business_area,business_subarea,lead_owner,is_converted
0,1.0,/Quezon City/Philippines,AS,0.066667,32160,End-Customer,Enterprise,NaN,NaN,NaN,...,LGEPH,less than 3 months,1,0,0.003079,0.026846,corporate / office,Engineering,0,True
1,1.0,/PH-00/Philippines,AS,0.066667,23122,End-Customer,Enterprise,12.0,NaN,NaN,...,LGEPH,less than 3 months,1,0,0.003079,0.026846,corporate / office,Advertising,1,True
2,1.0,/Kolkata /India,AS,0.088889,1755,End-Customer,Enterprise,144.0,NaN,NaN,...,LGEIL,less than 3 months,1,0,0.003079,0.026846,corporate / office,Construction,2,True
3,1.0,/Bhubaneswar/India,AS,0.088889,4919,End-Customer,Enterprise,NaN,NaN,NaN,...,LGEIL,less than 3 months,1,0,0.003079,0.026846,corporate / office,IT/Software,3,True
4,1.0,/Hyderabad/India,AS,0.088889,17126,Specifier/ Influencer,Enterprise,NaN,NaN,NaN,...,LGEIL,less than 3 months,0,0,0.003079,0.026846,corporate / office,NaN,4,True

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59299 entries, 0 to 59298
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bant_submit              59299 non-null  float64
 1   customer_country         58317 non-null  object
 2   business_unit            59299 non-null  object
 3   com_reg_ver_win_rate     14568 non-null  float64
 4   customer_idx             59299 non-null  int64
 5   customer_type            15338 non-null  object
 6   enterprise               59299 non-null  object
 7   historical_existing_cnt  13756 non-null  float64
 8   id_strategic_ver         3444 non-null   float64
 9   it_strategic_ver         1121 non-null   float64
 10  idit_strategic_ver       4565 non-null   float64
 11  customer_job             40566 non-null  object
 12  lead_desc_length         59299 non-null  int64
 13  inquiry_type             58358 non-null  object
 14  product_category         39925 non-null  object
 15  product_subcategory      9235 non-null   object
 16  product_modelname        9229 non-null   object
 17  customer_country.1       58317 non-null  object
 18  customer_position        59299 non-null  object
 19  response_corporate       59299 non-null  object
 20  expected_timeline        28436 non-null  object
 21  ver_cus                  59299 non-null  int64
 22  ver_pro                  59299 non-null  int64
 23  ver_win_rate_x           18417 non-null  float64
 24  ver_win_ratio_per_bu     15304 non-null  float64
 25  business_area            18417 non-null  object
 26  business_subarea         5526 non-null   object
 27  lead_owner               59299 non-null  int64
 28  is_converted             59299 non-null  bool
dtypes: bool(1), float64(8), int64(5), object(15)
memory usage: 12.7+ MB

In [17]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5271 entries, 0 to 5270
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       5271 non-null   int64
 1   bant_submit              5271 non-null   float64
 2   customer_country         5271 non-null   int64
 3   business_unit            5271 non-null   int64
 4   com_reg_ver_win_rate     1788 non-null   float64
 5   customer_idx             5271 non-null   int64
 6   customer_type            5271 non-null   int64
 7   enterprise               5271 non-null   int64
 8   historical_existing_cnt  1275 non-null   float64
 9   id_strategic_ver         593 non-null    float64
 10  it_strategic_ver         53 non-null     float64
 11  idit_strategic_ver       646 non-null    float64
 12  customer_job             5271 non-null   int64
 13  lead_desc_length         5271 non-null   int64
 14  inquiry_type             5271 non-null   int64
 15  product_category         5271 non-null   int64
 16  product_subcategory      5271 non-null   int64
 17  product_modelname        5271 non-null   int64
 18  customer_country.1       5271 non-null   int64
 19  customer_position        5271 non-null   int64
 20  response_corporate       5271 non-null   int64
 21  expected_timeline        5271 non-null   int64
 22  ver_cus                  5271 non-null   int64
 23  ver_pro                  5271 non-null   int64
 24  ver_win_rate_x           2373 non-null   float64
 25  ver_win_ratio_per_bu     1906 non-null   float64
 26  business_area            5271 non-null   int64
 27  business_subarea         5271 non-null   int64
 28  lead_owner               5271 non-null   int64
 29  is_converted             0 non-null      float64
dtypes: float64(9), int64(21)
memory usage: 1.2 MB

## 2. 데이터 전처리

### 레이블 인코딩

In [5]:
def label_encoding(series: pd.Series) -> pd.Series:
    """범주형 데이터를 시리즈 형태로 받아 숫자형 데이터로 변환합니다."""

    my_dict = {}

    # 모든 요소를 문자열로 변환
    series = series.astype(str)

    for idx, value in enumerate(sorted(series.unique())):
        my_dict[value] = idx
    series = series.map(my_dict)

    return series

In [6]:
# 레이블 인코딩할 칼럼들
label_columns = [
    "customer_country",
    "business_subarea",
    "business_area",
    "business_unit",
    "customer_type",
    "enterprise",
    "customer_job",
    "inquiry_type",
    "product_category",
    "product_subcategory",
    "product_modelname",
    "customer_country.1",
    "customer_position",
    "response_corporate",
    "expected_timeline",
]

df_all = pd.concat([df_train[label_columns], df_test[label_columns]])

for col in label_columns:
    df_all[col] = label_encoding(df_all[col])

다시 학습 데이터와 제출 데이터를 분리합니다.

In [7]:
for col in label_columns:  
    df_train[col] = df_all.iloc[: len(df_train)][col]
    df_test[col] = df_all.iloc[len(df_train) :][col]

### 2-2. 학습, 검증 데이터 분리

In [8]:
x_train, x_val, y_train, y_val = train_test_split(
    df_train.drop("is_converted", axis=1),
    df_train["is_converted"],
    test_size=0.2,
    shuffle=True,
    random_state=400,
)

In [10]:
x = pd.concat([x_train, x_val])
x

,bant_submit,customer_country,business_unit,com_reg_ver_win_rate,customer_idx,customer_type,enterprise,historical_existing_cnt,id_strategic_ver,it_strategic_ver,...,customer_position,response_corporate,expected_timeline,ver_cus,ver_pro,ver_win_rate_x,ver_win_ratio_per_bu,business_area,business_subarea,lead_owner
43573,0.50,2014,0,NaN,5293,33,0,NaN,NaN,NaN,...,9,41,271,0,0,NaN,NaN,6,86,45
25857,0.75,2037,2,0.049180,11045,10,0,NaN,NaN,NaN,...,17,18,246,1,1,0.001183,0.049840,10,32,153
42264,0.25,1904,0,NaN,47466,33,0,16.0,NaN,NaN,...,74,7,271,0,0,NaN,NaN,6,86,40
7665,1.00,12311,2,NaN,12526,33,0,NaN,NaN,NaN,...,112,21,246,0,0,NaN,NaN,6,86,175
23088,1.00,6969,2,0.031196,40086,33,0,NaN,NaN,NaN,...,47,21,246,0,0,0.000572,0.048630,1,86,175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54631,0.25,13721,3,0.642857,9300,9,1,NaN,NaN,NaN,...,74,50,271,0,0,0.000060,NaN,4,62,833
43005,0.25,1920,0,NaN,47466,33,0,1.0,NaN,NaN,...,74,15,271,0,0,NaN,NaN,6,86,71
28307,1.00,6146,0,0.071429,26323,33,0,2.0,NaN,NaN,...,36,21,246,0,0,0.000215,0.036913,2,86,89
2815,1.00,4264,2,NaN,46342,10,1,NaN,NaN,NaN,...,64,21,246,0,0,NaN,NaN,6,86,174
5168,0.75,14958,2,NaN,46429,2,1,NaN,NaN,NaN,...,74,50,246,0,0,NaN,NaN,6,86,194

In [12]:
y = pd.concat([y_train, y_val])
y

43573    False
25857    False
42264    False
7665     False
23088    False
         ...
54631    False
43005    False
28307    False
2815     False
5168     False
Name: is_converted, Length: 59299, dtype: bool

In [16]:
from datetime import datetime

# 현재 날짜와 시간을 얻습니다.
now = datetime.now()

# 년월일시분을 기록합니다.
year = now.year
month = now.month
day = now.day
hour = now.hour
minute = now.minute


submission_time = f"{year:04d}{month:02d}{day:02d}{hour:02d}{minute:02d}"
submission_time

'202402032332'

## 3. 모델 학습

### 모델 정의

In [ ]:
model = DecisionTreeClassifier()

### 모델 학습

In [ ]:
model.fit(x_train.fillna(0), y_train)

### 모델 성능 보기

In [ ]:
def get_clf_eval(y_test, y_pred=None):
    confusion = confusion_matrix(y_test, y_pred, labels=[True, False])
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, labels=[True, False])
    recall = recall_score(y_test, y_pred)
    F1 = f1_score(y_test, y_pred, labels=[True, False])

    print("오차행렬:\n", confusion)
    print("\n정확도: {:.4f}".format(accuracy))
    print("정밀도: {:.4f}".format(precision))
    print("재현율: {:.4f}".format(recall))
    print("F1: {:.4f}".format(F1))

In [ ]:
pred = model.predict(x_val.fillna(0))
get_clf_eval(y_val, pred)

## 4. 제출하기

### 테스트 데이터 예측

In [ ]:
# 예측에 필요한 데이터 분리
x_test = df_test.drop(["is_converted", "id"], axis=1)

In [ ]:
test_pred = model.predict(x_test.fillna(0))
sum(test_pred) # True로 예측된 개수

### 제출 파일 작성

In [ ]:
# 제출 데이터 읽어오기 (df_test는 전처리된 데이터가 저장됨)
df_sub = pd.read_csv("submission.csv")
df_sub["is_converted"] = test_pred

# 제출 파일 저장
df_sub.to_csv("submission.csv", index=False)

**우측 상단의 제출 버튼을 클릭해 결과를 확인하세요**