# 영업 성공 여부 분류 경진대회

## 1. 데이터 확인

### 필수 라이브러리

In [3]:
!pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in /usr/local/lib/python3.10/site-packages (23.0.1)
Collecting pip
  Downloading pip-24.0-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 7.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: pip
Successfully installed pip-24.0

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: python -m pip install --upgrade pip

In [1]:
!pip install lightgbm
# 모델을 위해 필요한 라이브러리 설치(우수 예시에만 있는 부분)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lightgbm in ./.local/lib/python3.10/site-packages (4.3.0)
Requirement already satisfied: numpy in ./.local/lib/python3.10/site-packages (from lightgbm) (1.23.5)
Requirement already satisfied: scipy in ./.local/lib/python3.10/site-packages (from lightgbm) (1.11.4)

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [6]:
!pip install imblearn

Defaulting to user installation because normal site-packages is not writeable
Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn (from imblearn)
  Downloading imbalanced_learn-0.12.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: numpy>=1.17.3 in ./.local/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.23.5)
Requirement already satisfied: scipy>=1.5.0 in ./.local/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.11.4)
Requirement already satisfied: scikit-learn>=1.0.2 in ./.local/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in ./.local/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./.local/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (3.2.0)
Downloading imbalanced_learn-0.12.0-py3-none-any.whl (257 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 257.7/257.7 kB 1.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.12.0 imblearn-0.0

In [32]:
import pandas as pd
import numpy as np
import lightgbm as lgb
from imblearn.over_sampling import SMOTE
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    f1_score,
    precision_score,
    recall_score,
)
from sklearn.model_selection import train_test_split

In [33]:
import random

random.seed(42)

### 데이터 셋 읽어오기

In [34]:
df_train = pd.read_csv("train.csv") # 학습용 데이터
df_test = pd.read_csv("submission.csv") # 테스트 데이터(제출파일의 데이터)

In [35]:
df_train.head() # 학습용 데이터 살펴보기

,bant_submit,customer_country,business_unit,com_reg_ver_win_rate,customer_idx,customer_type,enterprise,historical_existing_cnt,id_strategic_ver,it_strategic_ver,...,response_corporate,expected_timeline,ver_cus,ver_pro,ver_win_rate_x,ver_win_ratio_per_bu,business_area,business_subarea,lead_owner,is_converted
0,1.0,/Quezon City/Philippines,AS,0.066667,32160,End-Customer,Enterprise,NaN,NaN,NaN,...,LGEPH,less than 3 months,1,0,0.003079,0.026846,corporate / office,Engineering,0,True
1,1.0,/PH-00/Philippines,AS,0.066667,23122,End-Customer,Enterprise,12.0,NaN,NaN,...,LGEPH,less than 3 months,1,0,0.003079,0.026846,corporate / office,Advertising,1,True
2,1.0,/Kolkata /India,AS,0.088889,1755,End-Customer,Enterprise,144.0,NaN,NaN,...,LGEIL,less than 3 months,1,0,0.003079,0.026846,corporate / office,Construction,2,True
3,1.0,/Bhubaneswar/India,AS,0.088889,4919,End-Customer,Enterprise,NaN,NaN,NaN,...,LGEIL,less than 3 months,1,0,0.003079,0.026846,corporate / office,IT/Software,3,True
4,1.0,/Hyderabad/India,AS,0.088889,17126,Specifier/ Influencer,Enterprise,NaN,NaN,NaN,...,LGEIL,less than 3 months,0,0,0.003079,0.026846,corporate / office,NaN,4,True

In [36]:
len(df_train[df_train['is_converted']==True])/len(df_train)

0.08178890031872375

## 2. 데이터 전처리

### 레이블 인코딩

In [37]:
def label_encoding(series: pd.Series) -> pd.Series:
    """범주형 데이터를 시리즈 형태로 받아 숫자형 데이터로 변환합니다."""

    my_dict = {}

    # 모든 요소를 문자열로 변환
    series = series.astype(str)

    for idx, value in enumerate(sorted(series.unique())):
        my_dict[value] = idx
    series = series.map(my_dict)

    return series

In [38]:
# 레이블 인코딩할 칼럼들
label_columns = [
    "customer_country",
    "business_subarea",
    "business_area",
    "business_unit",
    "customer_type",
    "enterprise",
    "customer_job",
    "inquiry_type",
    "product_category",
    "product_subcategory",
    "product_modelname",
    "customer_country.1",
    "customer_position",
    "response_corporate",
    "expected_timeline",
]

df_all = pd.concat([df_train[label_columns], df_test[label_columns]])

for col in label_columns:
    df_all[col] = label_encoding(df_all[col])

다시 학습 데이터와 제출 데이터를 분리합니다.

In [39]:
for col in label_columns:
    df_train[col] = df_all.iloc[: len(df_train)][col]
    df_test[col] = df_all.iloc[len(df_train) :][col]

### 2-2. 학습, 검증 데이터 분리

In [40]:
x_train, x_val, y_train, y_val = train_test_split(
    df_train.drop("is_converted", axis=1),
    df_train["is_converted"],
    test_size=0.2,
    shuffle=True,
    random_state=400,
    stratify = df_train['is_converted']
)

In [41]:
sm = SMOTE(random_state = 42)

In [42]:
x_train = x_train.fillna(0)

In [43]:
X_resampled, y_resampled = sm.fit_resample(x_train,y_train)

In [44]:
valids = [(x_val, y_val)] # 검증 데이터

## 3. 모델 학습

### 모델 정의

In [45]:
param = {
    "objective": "binary",
    "is_unbalance": "true",
    "metric": "average_precision",
}
model = lgb.sklearn.LGBMClassifier(**param)

### 모델 학습

In [46]:
model.fit(
    X_resampled,
    y_resampled,
    eval_metric="average_precision",
    eval_set=valids,
)

[LightGBM] [Info] Number of positive: 43559, number of negative: 43559
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.010353 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 4740
[LightGBM] [Info] Number of data points in the train set: 87118, number of used features: 28
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=0.000000

LGBMClassifier(is_unbalance='true', metric='average_precision',
               objective='binary')

### 모델 성능 보기

In [47]:
def get_clf_eval(y_test, y_pred=None):
    confusion = confusion_matrix(y_test, y_pred, labels=[True, False])
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, labels=[True, False])
    recall = recall_score(y_test, y_pred)
    F1 = f1_score(y_test, y_pred, labels=[True, False])

    print("오차행렬:\n", confusion)
    print("\n정확도: {:.4f}".format(accuracy))
    print("정밀도: {:.4f}".format(precision))
    print("재현율: {:.4f}".format(recall))
    print("F1: {:.4f}".format(F1))

In [48]:
pred = model.predict(x_val.fillna(0))
get_clf_eval(y_val, pred)

오차행렬:
 [[  703   267]
 [  225 10665]]

정확도: 0.9585
정밀도: 0.7575
재현율: 0.7247
F1: 0.7408

## 4. 제출하기

### 테스트 데이터 예측

In [49]:
# 예측에 필요한 데이터 분리
x_test = df_test.drop(["is_converted", "id"], axis=1)
x_test

,bant_submit,customer_country,business_unit,com_reg_ver_win_rate,customer_idx,customer_type,enterprise,historical_existing_cnt,id_strategic_ver,it_strategic_ver,...,customer_position,response_corporate,expected_timeline,ver_cus,ver_pro,ver_win_rate_x,ver_win_ratio_per_bu,business_area,business_subarea,lead_owner
0,0.00,11,2,0.073248,47466,9,0,53.0,NaN,NaN,...,74,43,271,1,0,0.001183,0.049840,10,25,278
1,0.25,15156,3,NaN,5405,9,1,NaN,NaN,NaN,...,74,50,271,0,0,0.000013,NaN,12,62,437
2,1.00,53,2,NaN,13597,29,1,NaN,NaN,NaN,...,64,18,246,0,0,0.000060,0.131148,4,37,874
3,0.50,893,2,0.118644,17204,33,0,NaN,NaN,NaN,...,74,50,267,0,0,0.001183,0.049840,10,86,194
4,1.00,1402,2,0.074949,2329,9,0,2.0,1.0,NaN,...,79,43,246,1,1,0.003079,0.064566,0,28,167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5266,0.50,10650,0,NaN,40292,33,0,10.0,NaN,NaN,...,9,43,271,0,0,NaN,NaN,6,86,97
5267,0.25,16640,3,NaN,47466,33,0,0.0,NaN,NaN,...,74,50,271,0,0,NaN,NaN,6,86,438
5268,0.75,1079,0,NaN,46227,29,0,NaN,NaN,NaN,...,64,43,246,0,0,NaN,NaN,6,86,97
5269,0.00,24,3,NaN,45667,9,1,NaN,NaN,NaN,...,74,12,271,0,0,NaN,NaN,6,86,429
5270,0.25,1082,0,NaN,23646,9,0,NaN,NaN,NaN,...,74,21,271,0,0,NaN,NaN,6,86,4

In [50]:
test_pred = model.predict(x_test.fillna(0))
sum(test_pred) # True로 예측된 개수

581

### 제출 파일 작성

In [51]:
# 제출 데이터 읽어오기 (df_test는 전처리된 데이터가 저장됨)
df_sub = pd.read_csv("submission.csv")
df_sub["is_converted"] = test_pred

# 제출 파일 저장
df_sub.to_csv("submission.csv", index=False)

**우측 상단의 제출 버튼을 클릭해 결과를 확인하세요**